[{:itonami.blueprint/social-impact [:worker-safety :local-jobs], :itonami.blueprint/domain :services/manufacturing-labour, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "9329", :itonami.blueprint/name "Independent Manufacturing Support Labour Practice", :itonami.blueprint/governor :manufacturing-labour-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9329", :itonami.blueprint/license "AGPL-3.0-or-later"}]